# Dependencies & Auto-Generation
**/.terraform
**/*.tfstate*

# Generic Build Systems
**/build/

# LaTeX
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.pdf
**/*.synctex.gz

# Secrets
**/secret/*
**/*.tfvars

# Git-Keep
!**/.gitkeep
